[submodule "pytest"]
	path = pytest
	url = https://github.com/pytest-dev/pytest.git
[submodule "dump2polarion"]
	path = dump2polarion
	url = https://github.com/mkoura/dump2polarion.git
[submodule "polarize"]
	path = polarize
	url = https://github.com/RedHatQE/polarize.git
[submodule "polarizer"]
	path = polarizer
	url = https://github.com/RedHatQE/polarizer.git
[submodule "testmoapp"]
	path = testmoapp
	url = https://github.com/testmoapp/junitxml.git
