[submodule "pytest"]
	path = pytest
	url = https://github.com/pytest-dev/pytest.git
[submodule "windyroad-junit-schema"]
	path = windyroad-junit-schema
	url = https://github.com/windyroad/JUnit-Schema.git
[submodule "junit5"]
	path = junit5
	url = https://github.com/junit-team/junit5.git
[submodule "cucumber-junit-xml-formatter"]
	path = cucumber-junit-xml-formatter
	url = https://github.com/cucumber/junit-xml-formatter.git
[submodule "jest-junit"]
	path = jest-junit
	url = https://github.com/jest-community/jest-junit.git
[submodule "karma-junit-reporter"]
	path = karma-junit-reporter
	url = https://github.com/karma-runner/karma-junit-reporter.git
[submodule "python-polarion"]
	path = python-polarion
	url = https://github.com/jesper-raemaekers/python-polarion.git
